<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<senter><h1>Ecom App</h1></senter>

{{msg}}

<br><br>
<br><br>

<form action="http://localhost:5000/user/login/" method="post">
    User Name: <input type="text" name="username" required><br><br>
    Password: <input type="password" name="password" required><br><br>
    <input type="submit" value="Login" name="Login" title="Login now"><br><br>

</form>

<a href="http://localhost:5000/user/registration/">Register Here...!</a>
<br><br><br><br>

</body>
</html>