<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendor Transactions</title>
</head>
<body>

<senter><h1>Vendor Transactions Details</h1></senter>

{{msg}}
<br><br>
<h4>User Role: {{usertype}}</h4>
<br><br>
<a href="http://localhost:5000/admin/home/">Home</a>
&nbsp;&nbsp;|&nbsp;&nbsp;

<br><br>
Your Transaction Details:
<br><br>
<table border="2">
    <thead>
        <th>ID</th>
        <th>Descriptions</th>
        <th>Deposit</th>
        <th>Withdrawal</th>
        <th>Ava Balance</th>
    </thead>
    {% for tr in tran %}
    <tbody>
        <td></td>
        <td>{{tr.traDesc}}</td>
        {% if tr.deposit==None %}
                <td>--</td>
            {% else %}
                <td>{{tr.deposit}}</td>
        {% endif %}

        {% if tr.withdrawal==None %}
                <td>--</td>
            {% else %}
                <td>{{tr.withdrawal}}</td>
        {% endif %}
        <td>{{tr.totBal}}</td>
    </tbody>
    {% endfor %}
</table>
<br><br>




</body>
</html>